<div cdkDropListGroup (keydown)="onKeydown( $event)" (keyup)="onKeyup($event)">
    <table (keydown)="onKeydown( $event)" (keyup)="onKeyup( $event)" width=100%>
      <tr valign="top">
        <td  width=60% nowrap>
          <h2>Crowdsourcing material for Upskilling in CX Commerce & Munich Labs</h2>
          Mastering our Cloud Landscape is hard - but we can make it easier by sharing our favourite upskilling material and jouneys with each other. Here we can: <ul>
          <li>crowd source our favourite upskilling videos/sites/channels, </li>
          <li>like (or not) the material that others have shared, </li>
          <li>construct and share optimal learning paths from that material,</li>
          <li>iteratively shape an optimized source for upskilling into our cloud landscape.</li>
          </ul>
          Feel free to add your favourite upskilling material, and help shape the best learning paths for our colleagues.
        </td>
        <td>
        </td>
        <td nowrap valign=top align=right>
          Search Material and Paths <input id=search name=search [(ngModel)]="searchTerm" placeholder="searchTerm" (keyup)="toggleMe(null)"  /><br>
          <img height=50px src="assets/images/sap.jpeg"> <img src="assets/images/cx.png"><br>
          <button id="copyToClipboard" class="tooltip" (click)="copyToClipboard()" >Copy deeplink to clipboard
            <span class="tooltiptext">Get (and share) a URL with your current selections</span>
          </button> <br>(v0.107)  <a target="_blank" href="https://wiki.wdf.sap.corp/wiki/display/prodandtech/Software+Academy+2021+Filling+our+Skills+Gaps">More about this</a>
          <p>Questions/feedback? Contact ken.lomax@sap.com</p>
</td>
<td>
  <a href="https://cxwiki.sap.com/display/prodandtech/Software+Academy+2021+Filling+our+Skills+Gaps" ><img height="200px" alt="Contribute" src="assets/images/albert.png" /></a>
</td>
      </tr>

</table>

  <hr  style="height:1px; color:rgb(209, 209, 209);">
<table (keydown)="onKeydown( $event)" (keyup)="onKeyup( $event)" width=100%>
  <tr valign=top>
    <td width=100%> <h3>Crowdsourced Paths (from material below)
      <img id="edit1" *ngIf="!edittingPaths" (click)="edittingPaths=true" src="assets/images/edit.png"  height=30 >
        <img id="add1" *ngIf="edittingPaths" alt="Add"  (click)="newPath()" src="assets/images/add.png"  height=30 >
        <img id="save1" *ngIf="edittingPaths" alt="Add"  (click)="savePaths()" src="assets/images/save2.png"  height=30 >
        <img id="undo1" *ngIf="edittingPaths" alt="Readonly"  (click)="edittingPaths=false"  src="assets/images/undo.png"  height=30 >
        </h3>
      <table>
        <tr *ngIf="edittingPaths">
          <td>
            <br>
            To remove material from a path, drag the material, <span [ngStyle]="{ 'border': edittingPaths ? '1px solid black':''}">
            <text style="background-color:#c5c5c5" cdkDropListOrientation="horizontal" cdkDropList id=binPool cdkDropListDisabled="{{!edittingPaths}}" (cdkDropListDropped)="dropStep($event)"> into this box </text></span>
          </td>
        </tr>
        <tr>
          <td style="color:red;"  *ngIf="feedbackPaths.length>0">
           <span *ngFor="let fb of feedbackPaths" >{{fb}}<br></span>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              
              <tr  *ngFor="let i=index; let p of paths" >
              <td valign=top nowrap>
                <input id="titlepaths{{i}}" *ngIf="edittingPaths" size="50" [(ngModel)]="p.Title" >
                <img id="bin1" *ngIf="edittingPaths"  alt="Delete Path" (click)="deletePath(p.uid)" src="assets/images/bin.png"  height=30 >
                <code id="{{p.Title}}" name="path" *ngIf="!edittingPaths " (mouseenter)="selectedPathIndex=i" ><strong>{{p.Title}}</strong> </code>
              </td>
              <td valign=top nowrap >
                <span nowrap valign=top>
                  <code height=100% valign=bottom cdkDropListOrientation="horizontal"
                    cdkDropList
                     id=pathPool{{i}}
                    cdkDropListDisabled="{{!edittingPaths}}"
                   (cdkDropListDropped)="dropStep($event)"
                   [cdkDropListData]="p.StepIds"
                   >
                    <text *ngIf="edittingPaths">Drag material ->here<- to add to this path, then reorder it. </text>
                    <span *ngFor="let stepId of p.StepIds" >
                      <code
                      cdkDrag
                      [cdkDragData]="stepsMap.get(stepId)"
                      (cdkDragStarted)="started($event)"
                      (cdkDragDropped)="stopped($event)">
                         <img id="{{stepsMap.get(stepId).Title}}" valign=bottom
                         (mouseenter)="onSelect(stepId, -1, '', false)"  src="{{stepsMap.get(stepId)?stepsMap.get(stepId).Thumb:'assets/images/gray.png'}}"
                         (click)='onSelect(stepId, i, stepsMap.get(stepId).Tags+" "+stepsMap.get(stepId).Type+" " +stepsMap.get(stepId).Tree+" " +stepsMap.get(stepId).Recommender, true)'
                         width=30 height=30>
                      </code>
                    </span>
                  </code>
                  </span>
                  <input id="description4"  size="100" name="description" *ngIf="edittingPaths" placeHolder ="Description" rows = "2" cols = "60" [(ngModel)]="p.Description"  [attr.disabled]="!edittingPaths ? '': null" />
                </td>     
                <td *ngIf="!edittingPaths" >
                  <code name="description" placeHolder ="Description"   >&nbsp;&nbsp;&nbsp;{{p.Description}}</code>
                </td>    
            </tr>
        </table>
          </td>
        </tr>
      </table>
      </td>
  </tr>
</table>
<hr style="height:1px; color:rgb(209, 209, 209);">
<table>
  <tr valign=top>
    <td width=200px> <h3>Crowdsourced Material   
         <img id="add2" *ngIf="!stepBeingEditted" (click)="editting=true" (mouseup)="addStepClicked()" src="assets/images/add.png"  height=30 >
      </h3>
      Filter by: 
      <u id="filterBranches" (mouseup)="showBranches=!showBranches">Branches</u>&nbsp; 
      <u id="filterTags"  (mouseup)="showTags=!showTags">Tags</u>	&nbsp; 
      <u id="filterTypes"  (mouseup)="showTypes=!showTypes">Types</u>	&nbsp; 
      <u id="filterRecommenders" (mouseup)="showRecommenders=!showRecommenders">Recommenders </u>&nbsp; 

      <span id="clearAll"><u id="clearAllFilters"  role="button" (click)="clearAll()">Clear all filters</u></span><br>
      <table>
        <tr valign=top>
          <td valign=top nowrap>
            <div *ngIf="showBranches" style="height:300px;width:240px;border:0px solid #ccc;overflow:auto;"> Branches: <code class="tags" *ngFor="let tree of treesArray"><button id="{{tree}}" name="{{ tree }}" class="" (click)="toggleMe($event)">{{casify(tree)}}</button><br></code> </div>
          </td>
          <td valign=top>
            <table width=800px>
              <tr>
                <td valign=top>
                  <table>
                    <tr><td  >
                        <div style="height:300px;border:0px solid #ccc;overflow:auto;"
                          cdkDropList
                          id=stepPool #stepPool="cdkDropList"
                          cdkDropListDisabled="{{ !edittingPaths}}"
                         (cdkDropListDropped)="dropStep($event)"
                         [cdkDropListData]="steps"
                         >
                          <span *ngFor="let step of steps" >
                            <code
                              cdkDrag
                              [cdkDragData]="step"
                              (cdkDragStarted)="started($event)"
                              (cdkDragDropped)="stopped($event)"
                              >
                              <img  tabindex="0"
                              id="img{{step.uid}}"
                              class="normal"
                              (mouseenter)='onSelect(step.uid, i, step.Tags+" "+step.Type+" " +step.Tree+" " +step.Recommender, false)'
                              (click)='onSelect(step.uid, i, step.Tags+" "+step.Type+" " +step.Tree+" " +step.Recommender, true)'
                              (mouseout)='clearButtons()' name="{{ step.Tags }} {{ step.Type }} {{ step.Tree }}  {{ step.Title }}  {{ step.Recommender }}"
                              alt='refreshPage' src="{{step.Thumb?step.Thumb:'assets/images/gray.png'}}"
                              width=30 height=30>
                          </code>
                          <text *ngIf=listlayout
                          (mouseenter)='onSelect(step.uid, i, step.Tags+" "+step.Type+" " +step.Tree+" " +step.Recommender, false)'
                          (click)='onSelect(step.uid, i, step.Tags+" "+step.Type+" " +step.Tree+" " +step.Recommender, true)'
                          (mouseout)='clearButtons()' name="{{ step.Tags }} {{ step.Type }} {{ step.Tree }}  {{ step.Title }}  {{ step.Recommender }}">
                          {{ step.Title }}<br></text>
                          </span>
                        </div>
                        Click an icon to visit/edit it.  <img id="layout1" (click)="listlayout=!listlayout" height=30px src="assets/images/lists.png">

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

          </td>
          <td width=40%>

          </td>
        </tr>

        <tr>
          <td colspan=3 valign=top><span *ngIf="showTags">Tags: <code class="tags" *ngFor="let tag of tagsArray"><button id="{{tag}}" name="{{ tag }}" class="" (click)="toggleMe($event)"> {{ tag }}</button></code></span></td>
        </tr>
        <tr>
          <td colspan=3 valign=top><span *ngIf="showTypes" >Types: <code class="tags" *ngFor="let type of typesArray"><button id="{{type}}" name="{{ type }}" class="" (click)="toggleMe($event)"> {{ type }}</button> </code></span></td>
        </tr>
        <tr>
          <td colspan=3 valign=top><span *ngIf="showRecommenders">Recommenders: <code  class="tags" *ngFor="let recommender of recommendersArray"><button id="{{recommender}}" name="{{ recommender }}" class="" (click)="toggleMe($event)"> {{ recommender }}</button> </code></span></td>
        </tr>
      </table>
    </td>
    <td valign=top>
     <table>
      <tr valign=top>
        <td *ngIf="editting">
          <text *ngIf="addingStep">Give the URL of new material, then provide more details.<br></text>
          <input *ngIf="addingStep" id=newMaterial size="30" (keydown)="newMaterialKeyDown($event)" [(ngModel)]="newMaterialUrl" placeholder="https://" >
          <img id="add3" *ngIf="addingStep"  alt="Add"  (click)=" prepareNewStep()" src="assets/images/add.png"  height=30 >&nbsp;
          <img  *ngIf="addingStep"  id="undo" alt="Cancel"  (click)="cancel()" src="assets/images/undo.png"  height=30 >&nbsp;
         </td>
      </tr>
      <tr>
        <td style="color:red;" colspan=2 *ngIf="feedback.length>0">
         <span *ngFor="let fb of feedback" >{{fb}}<br></span>
        </td>
      </tr>

      <tr *ngIf="selectedStep">
        <td>
          <table>
            <tr nowrap  >
              <td colspan=3>
                <h3>
                  <img id="undo" *ngIf="!editting && stepBeingEditted" (click)="cancel()" src="assets/images/undo.png"  height=30 >
                  <img *ngIf="stepBeingEditted && !editting" (click)="editting=true"  src="assets/images/edit.png"  class="tooltip"  height=30 >
                  <img *ngIf="editting"  alt="Save" (click)="save()" src="assets/images/save2.png"  height=30 >
                  <img *ngIf="editting &&  !addingStep" alt="Delete" (click)="deleteStep()" src="assets/images/bin.png"  height=30 >
                  <img  id="undo"  *ngIf="editting" alt="Readonly mode"  (click)="cancel()"  src="assets/images/undo.png"  height=30 >
                  {{selectedStep.Title.substring(0,80)}}</h3>
              </td>
            </tr>
            <tr nowrap *ngIf="!editting" >
              <td valign=top nowrap>
                <a  target="_blank" href="{{ selectedStep.Url }}"><img *ngIf="!selectedStep.Thumb"  alt=largeThumb  class="" src="assets/images/gray.png"  style="max-width: 100px;max-height: 100px;" /></a>
                <a  target="_blank" href="{{ selectedStep.Url }}"><img *ngIf="selectedStep.Thumb"  alt=largeThumb  class="" src="{{selectedStep.Thumb }}"  style="max-width: 100px;max-height: 100px;" /></a>
               </td>
              <td valign=top align=left>
                <img src="assets/images/up2.png"  (click)="like()" width=50 height=50> {{selectedStep.NumLikes}}
              </td>
              <td><img src="assets/images/white.png" height="100px"></td>
            </tr>

            <tr *ngIf="editting">
              <td  *ngIf="editting">Title<sup>*</sup>:  </td>
              <td colspan=2 nowrap  *ngIf="editting">
                <input (keyup)="editted( $event)" id=Title maxlength="200" [attr.disabled]="!editting ? '': null" size="50" [(ngModel)]="selectedStep.Title" placeholder="Title" /> <br>
              </td>
            </tr>

            <tr>
              <td> Tag(s)<sup *ngIf="editting">(1)</sup>: <br><br></td>
              <td colspan=2 valign=top>
                <input id="tag3" *ngIf="editting" (keyup)="editted( $event)" maxlength="200" [attr.disabled]="!editting ? '': null" size="50" [(ngModel)]="selectedStep.Tags" placeholder="Tags" />
                <div  *ngIf="!editting"> {{selectedStep.Tags}}
                  <!--code class="tags" *ngFor="let tag of selectedStep.Tags.split(' ')"><button name="{{ tag }}" class="" (click)="toggleMe($event)"> {{ tag }}</button></code-->
                </div>
              </td>
            </tr>
            <tr>
              <td > Branch: </td>
              <td colspan=2 >
                <input id="branch3" *ngIf="editting" (keyup)="editted( $event)" maxlength="200" [attr.disabled]="!editting ? '': null" size="50" [(ngModel)]="selectedStep.Tree" placeholder="Branch/Twig/Leaf" />
                <div  *ngIf="!editting"> {{selectedStep.Tree}}</div>
              </td>
            </tr>

            <tr>
              <td> <a class="align-top" target="_blank" href="{{ selectedStep.Url }}">URL</a><sup>*</sup>:<br><br></td>
              <td colspan=2 valign=top>
                <input id="url3" *ngIf="editting" (keyup)="editted( $event)" [attr.disabled]="!editting ? '': null" size="50" [(ngModel)]="selectedStep.Url" placeholder="Url" />
                <div  *ngIf="!editting"> <a class="align-top" target="_blank" href="{{ selectedStep.Url }}">{{ selectedStep.Url }}</a> </div>
              </td>
            </tr>

            <tr>
              <td> Type(s)<sup *ngIf="editting">(1)</sup>: </td>
              <td colspan=2 >
                <input id="type3"  *ngIf="editting"  (keyup)="editted( $event)" maxlength="200" [attr.disabled]="!editting ? '': null" size="50" [(ngModel)]="selectedStep.Type" placeholder="Type" />
                <div  *ngIf="!editting"> {{selectedStep.Type}}</div>
              </td>
            </tr>

            <tr>
              <td nowrap > Recommender(s)<sup *ngIf="editting">(1)</sup>: </td>
              <td colspan=2 >
                <input id="recommender3" *ngIf="editting"  (keyup)="editted( $event)" maxlength="200" [attr.disabled]="!editting ? '': null" size="50" [(ngModel)]="selectedStep.Recommender" placeholder="Type" />
                <div  *ngIf="!editting"> {{selectedStep.Recommender}}</div>
              </td>
            </tr>

            <tr>
              <td valign=top> Description: </td>
              <td colspan=2 valign=top>
                <textarea id="decription3"  style="border:solid 1px;"  *ngIf="editting" (keyup)="editted( $event)" maxlength="500" [attr.disabled]="!editting ? '': null" rows="4" cols="50" [(ngModel)]="selectedStep.Description" placeholder="Max 500 Chars"></textarea>
                <div  *ngIf="!editting"> {{selectedStep.Description}}</div>
              </td>
            </tr>
            <tr  *ngIf="editting">
              <td> Thumb: </td>
              <td colspan=2 >
                <table><tr height=120px><td>
                  <code *ngIf="selectedStep">
                    <div cdkDropList  id=stepPool2 #stepPool2="cdkDropList" (cdkDropListDropped)="dropStep($event)" cdkDropListDisabled="{{!editting}}">
                      <code *ngFor="let step of [selectedStep]" cdkDrag [cdkDragData]="step" (cdkDragStarted)="started($event)" (cdkDragEnded)="stopped($event)">
                        <a class="align-top"  target="_blank" href="{{ selectedStep.Url }}"><img *ngIf="!selectedStep.Thumb"  alt=largeThumb  class="" src="assets/images/gray.png"  style="max-width: 100px;max-height: 100px;" /></a>
                        <a class="align-top"  target="_blank" href="{{ selectedStep.Url }}"><img *ngIf="selectedStep.Thumb"  alt=largeThumb  class="" src="{{selectedStep.Thumb }}"  style="max-width: 100px;max-height: 100px;" /></a>
                      </code>
                      </div>
                  </code>
                  <td *ngIf="selectedStep.uid!=null && selectedStep.uid.length>0">
                    <ngx-file-drop *ngIf="editting" dropZoneLabel="Drop image here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <button id="browseThumbImage" type="button" (click)="browseThumb();openFileSelector();">Browse Thumb Image</button>
                    </ng-template>
                </ngx-file-drop>
              </td>
              <td *ngIf="selectedStep.uid==null|| selectedStep.uid.length==0">
                Click Save before altering Thumb  image.
              </td>

            </tr></table>
              <!--input maxlength="200" disabled size="50" [(ngModel)]="selectedStep.Thumb" placeholder="Thumb" /-->
              </td>
            </tr>

            <tr *ngIf="editting" ><td  colspan=3>
                <sup>(1)</sup> Space-separated list. These will appear as selectable facets.

              </td>
            </tr>


            <tr><td colspan=3><br>( Last modified: {{ dateOfSelectedStep}} <span  *ngIf="selectedStep.ip">by {{selectedStep.ip}} </span>)</td></tr>
          </table>
        </td>

      </tr>
     </table>
    </td>
    <td><img class='noHover' src="assets/images/whitebar.png"></td>
  </tr>
</table>
</div>


